[Unit]
Description=Setup Migration Host Network
After=suse-migration-setup-name-resolver.service
Requires=suse-migration-setup-name-resolver.service

[Service]
Type=oneshot
ExecStart=/usr/bin/suse-migration-setup-host-network
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
