[Unit]
Description=Reboot System
After=suse-migration-kernel-load.service
ConditionKernelCommandLine=!migration.noreboot

[Service]
Type=oneshot
ExecStart=/usr/bin/suse-migration-reboot

[Install]
WantedBy=multi-user.target
