[Unit]
Description=Run Zypper Migration
After=suse-migration-product-setup.service suse-migration-pre-checks.service
Requisite=suse-migration-product-setup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/suse-migration
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
