[Unit]
Description=Preserve Data After System Mount
After=suse-migration-mount-system.service
Requisite=suse-migration-mount-system.service

[Service]
Type=oneshot
ExecStart=/usr/bin/suse-migration-post-mount-system
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
