[Unit]
Description=Prepare Product Setup for Migration
After=suse-migration-prepare.service
Requires=suse-migration-prepare.service

[Service]
Type=oneshot
ExecStart=/usr/bin/suse-migration-product-setup

[Install]
WantedBy=multi-user.target
