[Unit]
Description=Prepare For Migration
After=suse-migration-setup-host-network.service network-online.target
Requisite=suse-migration-mount-system.service suse-migration-setup-host-network.service
Requires=network-online.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/sysconfig/proxy
ExecStart=/usr/bin/suse-migration-prepare
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
