[Unit]
Description=Prepare For Migration
After=suse-migration-setup-host-network.service
Requires=suse-migration-mount-system.service suse-migration-setup-host-network.service network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/suse-migration-prepare

[Install]
WantedBy=multi-user.target
