[Unit]
Description=Update the bootloader
After=suse-migration-grub-setup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/suse-migration-update-bootloader

[Install]
WantedBy=multi-user.target
