[Unit]
Description=Setup Migration Host Network
After=suse-migration-mount-system.service suse-migration-post-mount-system.service
Requires=suse-migration-mount-system.service suse-migration-post-mount-system.service
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/suse-migration-setup-host-network
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
