[Unit]
Description=Show Migration Progress
ConditionPathExists=/system-root/var/log/distro_migration.log
DefaultDependencies=no
After=systemd-vconsole-setup.service suse-migration-prepare.service
Wants=systemd-vconsole-setup.service
Conflicts=emergency.service emergency.target

[Service]
ExecStart=/usr/bin/dialog --tailbox /system-root/var/log/distro_migration.log 60 75
Type=simple
Restart=on-failure
RestartSec=2
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
KillMode=process
IgnoreSIGPIPE=no
KillSignal=SIGHUP

[Install]
WantedBy=multi-user.target
