[Unit]
Description=Snapper btrfs snapshot after migration
After=suse-migration.service
Requisite=suse-migration.service
Before=suse-migration-grub-setup.service
ConditionPathExists=/run/suse_migration_snapper_btrfs_pre_snapshot_number

[Service]
Type=oneshot
ExecStart=/usr/bin/suse-migration-btrfs-snapshot-post-migration
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
