[Unit]
Description=Load the new migrated kernel and reboot the system
After=suse-migration-umount-system.service
Requires=suse-migration-grub-setup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/suse-migration-kernel-reboot

[Install]
WantedBy=multi-user.target
