[Unit]
Description=Show Migration Progress
ConditionPathExists=/system-root/var/log/zypper_migrate.log
DefaultDependencies=no
After=systemd-vconsole-setup.service suse-migration-prepare.service
Requires=suse-migration-prepare.service
Wants=systemd-vconsole-setup.service
Conflicts=emergency.service emergency.target

[Service]
ExecStart=dialog --tailbox /system-root/var/log/zypper_migrate.log 60 75
Type=oneshot
StandardInput=tty-force
StandardOutput=inherit
StandardError=inherit
KillMode=process
IgnoreSIGPIPE=no
KillSignal=SIGHUP
