[Unit]
Description=Reboot System
After=suse-migration-mount-system.service suse-migration-umount-system.service

[Service]
Type=oneshot
ExecStart=/usr/bin/suse-migration-reboot

[Install]
WantedBy=multi-user.target
