[Unit]
Description=Regenerate the initrd to add multipath
After=suse-migration-grub-setup.service
Requisite=suse-migration-grub-setup.service

[Service]
Type=oneshot
ExecStart=/usr/bin/suse-migration-regenerate-initrd
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
