[Unit]
Description=Show Migration Progress
ConditionPathExists=/system-root/var/log/distro_migration.log
DefaultDependencies=no
After=systemd-vconsole-setup.service suse-migration-prepare.service
Wants=systemd-vconsole-setup.service
Conflicts=emergency.service emergency.target
ConditionPathExists=/dev/tty8

[Service]
ExecStart=/bin/bash -c "/usr/bin/dialog --tailbox /system-root/var/log/distro_migration.log 60 75; chvt 1"
ExecStartPre=/usr/bin/chvt 8
Type=idle
Restart=always
RestartSec=10
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty8
TTYReset=yes

[Install]
WantedBy=multi-user.target
