[Unit]
Description=Setup Migration Host Network
After=suse-migration-mount-system.service
Requires=suse-migration-mount-system.service
Before=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/bin/suse-migration-setup-host-network

[Install]
WantedBy=multi-user.target
