[Unit]
Description=Wicked to NetworkManager migration
After=suse-migration.service suse-migration-apparmor-selinux.service
Requisite=suse-migration.service
Before=suse-migration-regenerate-initrd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/suse-migration-wicked-networkmanager
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
